.f-container {
  padding: 75px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: xx-large;
  font-weight: 500;
}

.flashcard-container {
  width: 604.5px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flashcard {
  width: 604.5px;
  height: 350px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.flashcard-content {
  font-size: larger;
}

.all-flashcard-options {
  width: 100%;
  display: flex;
  align-items: center;
}

.shuffle-card {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.shuffle-img {
  width: 50%;
}

.flashcard-options-imgs {
  width: 50%;
  filter: brightness(0) invert(1);
}

.flip-card-img {
  width: 60%;
  transform: rotate(90deg);
}

.shuffle-img:hover {
  opacity: 0.5;
}

.flashcard-options {
  width: 80%;
  display: flex;
  justify-content: space-around;
  user-select: none;
}

.prev-card,
.flip-card,
.next-card {
  width: 50px;
  background-color: #7197c3;
  color: white;
  padding: 3px;
  margin: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.prev-card:hover,
.flip-card:hover,
.next-card:hover {
  background-color: #a8c1db;
}
