.c-container {
  padding: 25px;
  margin-top: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
}
.title-label {
  font-size: xx-large;
  font-weight: 500;
}

.qa-pair {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding-bottom: 20px;
}

input {
  margin: 20px;
}

.add-card {
  width: 75px;
  align-self: center;
  margin-bottom: 50px;
  background-color: #7197c3;
  color: white;
}

.add-card:hover {
  background-color: #a8c1db;
}
