.m-container {
  padding: 25px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.relationship {
  padding: 10px;
  padding-bottom: 15px;
}

.main-component {
  width: 800px;
}

.intro-box {
  display: flex;
  flex-direction: column;
}

.greet-user {
  font-size: xx-large;
  font-weight: 650;
  color: white;
  padding-top: 25px;
}

.header {
  font-size: x-large;
  padding: 10px;
  font-weight: 550;
  padding-left: 25px;
  padding-bottom: 20px;
  padding-top: 25px;
  color: white;
}

.flashcard-set-container {
  width: 100%;
  background: #7197c3;
  padding: 35px;
  display: flex;
  justify-content: center;
}

.flashcard-list-bg {
  width: 500px;
  background-color: #daf0f7;
}

.flashcard-list {
  width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loading-flashcard-sets,
.flashcard-sets {
  margin: 20px;
  padding: 10px;
  font-size: larger;
  font-weight: 500;
}
