.m-container {
  padding: 75px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.main-component {
  width: 500px;
}

.greet-user {
  font-size: xx-large;
  font-weight: 650;
}

.header {
  font-size: x-large;
  padding: 10px;
  font-weight: 550;
}

.loading-flashcard-sets,
.flashcard-sets {
  margin: 20px;
  padding: 10px;
  font-size: larger;
  font-weight: 500;
}

.flashcard-sets {
  background-color: #7197c3;
  color: white;
}

.flashcard-sets:hover {
  background-color: #a8c1db;
}
