.l-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mom-daughter-img {
  width: auto;
  position: relative;
}

.mom-daughter-txt {
  position: absolute;
  top: 45%;
  left: 30%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform: translate(-50%, -50%);
}
